<div class="registpage" ng-controller="registCtrl">	
	<div class="bar bar-header bar-wd">
		<button class="button icon button-icon wd-icon wd-icon-arrow-back" ng-click="goBack()"></button>
		<h1 class="title ">注册</h1>
	</div>
	<ion-content class="has-header">
		<div class="list mt-10" >
			<div class="item item-input">
				<span class="icon placeholder-icon wd-icon wd-mobile-icon"></span>
				<input type="text" placeholder="请输入手机号" 
					ng-model="user.num"
					name="unum"
					class="has-delete"
					ng-focus="user.showNumDel=true"
					ng-blur="user.showNumDel=false"
					/>
				<i class="icon wd-icon-delete"
					 ng-class="{'show':user.num.length&&user.showNumDel}"
					 ng-click="user.num=''"
					 >&times;</i>
			</div>
			<div class="item item-input item-button-right">
				<span class="placeholder-icon wd-icon wd-mobile-vad"></span>
				<input type="text" placeholder="请输入验证码" 
					ng-model="user.val"
					name="uval"
					/>
				<button class="button button-outline button-positive button-small wd-button-small">获取验证码</button>
			</div>
			<div class="item item-input mt-10">
					<span class="placeholder-icon wd-icon wd-icon-key"></span>
					<input type="password" placeholder="密码为6~10位字母与数字组合" 
						ng-model="user.password"
						name="uname"
						class="has-delete"
						ng-focus="user.showPassDel=true"
						ng-blur="user.showPassDel=false"
						/>
					<i class="icon wd-icon-delete"
						 ng-class="{'show':user.password.length&&user.showPassDel}"
						 ng-click="user.password=''"
						 
						 >&times;</i>	
				</div>
			<div class="item item-clear">
				<label for=""> <input type="checkbox" ng-model="checked" />我已阅读并同意</label>
				<a href="">《注册协议》</a>
			</div>
			<div class="padding mt-20">
				<button class="button button-block button-disabled"
					ng-click="checkRegist()"
					ng-disabled="!user.num.length&&!user.password.length&&user.val.length&&!checked"
					ng-class="{'button-wd-positive':user.num.length&&user.password.length&&user.val.length&&checked}"
					>注册</button>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer  wd-bar-clear">
		<h2 class="title"><a href="" class="wd-positive">已有账号登录</a></h2>
	</div>
</div>
